body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange
}
.flexible-container{
    display: flex;
    margin-bottom: 10px;
}
div{
    padding-left: 50px;
}

.link-button{
   text-decoration:none;
   background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color:wheat;
    font-weight: 700;
    border: 5px;
}
.top-banner{
background-image: url(images/top-banner.png);
background-repeat: no-repeat;
}
.deram-big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.zahid{
    color: tomato;
}
.half-width{
    box-shadow: 10px 10px yellowgreen;
}
.experience-item{
    padding: left 20px solid; 
    padding-right: 20px;
border-color: rgb(219, 182, 18);
} 
footer p{
   text-align: center;
}